<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>跨域测试</title>
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
<div id="hello"></div>
</body>
<script>
    $(function () {
     /*   $.get("http://test.liuyu.pw:8080/hello", function (data) {
            $("#hello").text(data);
            console.log(data)
        })*/

        $.ajax({
            type: "GET",
            url: "http://test.liuyu.pw:8080/hello",
            data: "",
            dataType: "text",
            success: function (data) {
                $("#hello").text(data);
                console.log('data:'+data)
            }
        });
    })
</script>
</html>